<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Campuses</title>
</head>

<body>

    <form action="/add-campus" method="post">
        <div>
            <input type="text" placeholder="add a campus" name="name">
        </div>
    </form>

    <ul>
        <li th:each="campus: ${campusesAttribute}" th:text="${campus.name}"></li>
    </ul>
</body>

</html>